@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
  color-scheme: dark;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.static-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 20px 30px;
}

.static-button {
  background-color: transparent;
  border: none;
  color: #8158bb;
  font-size: 18px;
  font-weight: 500;
}

.scan-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 30px;
}

.scan-page-mod {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.scan-label {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  line-height: 14px;
  margin-bottom: 2px;
}

.scan-bubble {
  padding: 4px 16px;
  background-color: #2c2c2c;
  color: #cacaca;
  font-size: 15px;
  font-weight: 600;
  border-radius: 16px;
}

.scan-paragraph {
  color: #b5b5b5;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: -2px;
}

.scan-bubble-focus {
  padding: 4px 16px;
  background-color: #2c2c2c;
  color: #8158bb;
  font-size: 15px;
  font-weight: 600;
  border-radius: 16px;
  margin-bottom: 5px;
  margin-right: auto;
}

.scan-separator {
  background-color: #b5b5b5;
  height: 2px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 2px;
  opacity: 0.2;
}

.error-message {
  text-align: center;
  color: #b5b5b5;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: -2px;
}

.error-link {
  text-align: center;
  color: #c40ec4;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 8px;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.menu-button {
  background-color: #8158bb;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #9a6de0;
}

.menu-button:active {
  background-color: #6c3fb5;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
}

.input-textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  resize: vertical;
  border: 1px solid #6c3fb5;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #2c2c2c;
  outline: none;
}

.submit-button {
  background-color: #8158bb;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  /* align-self: flex-end; */
  cursor: pointer;
}

.submit-button:hover {
  background-color: #6c47a6;
}

.submit-loader {
  width: 40px;
  height: 10px;
  position: absolute;
}


/* loader animation */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 10px;
}

.lds-ellipsis div {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 20px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 32px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(12px, 0);
  }
}